
  <div class="row">
    <div class="col-lg-3" *ngFor="let categoryitem of  products" [routerLink]="['/product',categoryitem.id]">
        <img [src]="categoryitem.mainImage.secure_url">
        <p>{{categoryitem.name}}</p>
    </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngFor="let pageno of  pagenoarry"><a class="page-link" (click)="getallproductsbypage(pageno)" >{{pageno}}</a></li>
  </ul>
</nav>